#qna{
    display:none;
}

.qBox{
    font-family: 'GowunDodum-Regular', sans-serif;
    background-color: whitesmoke;
    text-align:center;
    width: 80%;
    border-radius: 20px;
    margin-top: 40px;
    padding: 20px 0;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 600;

}

.answerList {
    display: block;
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border:none;
    border-radius: 20px;
    margin-bottom: 18px;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.answerList:hover 
,.answerList:focus
,.answerList:active {
    background-color: #6bba70;
    color: whitesmoke;
    
}

.status {
    height: 20px;
    width: 80%;
    background-color: whitesmoke;
    border-radius: 20px;


}

.statusBar {
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6bba70+39,6bba70+100 */
    background: #6bba70; /* Old browsers */
    background: -moz-linear-gradient(left,  #6bba70 39%, #6bba70 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #6bba70 39%,#6bba70 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #6bba70 39%,#6bba70 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bba70', endColorstr='#6bba70',GradientType=1 ); /* IE6-9 */

    border-radius: 20px;

}